{% extends 'main/layout.html' %}
{% load static %}


{% block content %}

<style>
    .success {
        color: rgb(255, 254, 254);
        font-size: 20px;
        background-color: #8ec024;
        text-align: center;
    }
    .error {
        color: white;
        font-size: 20px;
        background-color: red;
        text-align: center;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}


<div class="container-fluid py-5 text-center">
    <div class="container py-5">
        <div class="row g-5">
            <div class="co l-md-12 col-lg-6 col-xl-5">
                <div class="table-responsive">
                    <form method="post" style="margin-top: 50px;">
                        {% csrf_token %}
                        <input type="password" placeholder="Enter Old Password" name="old_password">
                        <input type="password" placeholder="Enter New Password" name="new_password">
                        <input type="password" placeholder="Confirm New Password" name="confirm">
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}